{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
    <h1>Room index</h1>
    <div class="serach">
        <div class="row" style="padding-top: 10px">
            <div class="col-md-12">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" >
                                    {{ form_row(form.keyWord) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_row(form.fromPrice) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_row(form.toPrice) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_row(form.fromDate) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_row(form.toDate) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-3" style="padding-top: 50px">
                            <div class="form-group">
                                <button type="submit" class=" btn btn-success">Search <i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Province</th>
                <th>District</th>
                <th>Street</th>
                <th>Type</th>
                <th>Status</th>
                <th>Featured</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.name }}</td>
                <td>{{ room.province }}</td>
                <td>{{ room.district }}</td>
                <td>{{ room.street }}</td>
                <td>{{ room.type == 1 ? 'VIP' : 'CÙI' }}</td>
                <td>{{ room.status == 1 ? 'On' : 'Off' }}</td>
                <td>{{ room.featured == 1 ? 'On' : 'Off'}}</td>
                <td>
                    <a href="{{ path('room_show', {'id': room.id}) }}">show</a>
                    <a href="{{ path('room_edit', {'id': room.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('room_new') }}">Create new</a>
{% endblock %}
