{% extends 'base.html.twig' %}

{% block title %}SetRoom{% endblock %}

{% block body %}
    <h1>SetRoom</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ set_room.id }}</td>
            </tr>
            <tr>
                <th>RoomCount</th>
                <td>{{ set_room.roomCount }}</td>
            </tr>
            <tr>
                <th>Person</th>
                <td>{{ set_room.person }}</td>
            </tr>
            <tr>
                <th>Discount</th>
                <td>{{ set_room.discount }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('set_room_index') }}">back to list</a>

    <a href="{{ path('set_room_edit', {'id': set_room.id}) }}">edit</a>

    {{ include('set_room/_delete_form.html.twig') }}
{% endblock %}
